:root {
    --d_orange: rgb(238, 117, 4);
    --r_mar: 1em;
}

section {
    padding-top: 3em;
    padding-bottom: 3rem;
    margin-top: var(--r_mar);
    margin-bottom: var(--r_mar);
}

h1 {
    font-weight: 700;
}

footer {
    background-color: rgb(37, 38, 41);
    color: #fff;

}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  color: rgb(207, 207, 207);
  text-decoration: none;
}

footer .lighter {
    color: rgb(129, 129, 139);
}

footer .lighter a {
    text-decoration: underline;
}

footer .lighter a:hover {
    text-decoration: underline;
    color: rgb(180, 180, 180);
}

.bg-primary {
  background-color: var(--d_orange) !important;
  color: #fff;
}

.page-item:not(.active):not(.disabled) .page-link {
  color: var(--d_orange) !important;
}

.carousel-item img {
    height: 700px;
    width: 100%;
    object-fit: cover;
}

.hero {
    background-color: #fff;
}

.bg-gray {
    background-color: #f5f5f5;
}

.navbar-brand {
    font-weight: 700;
    font-family: 'Poppins', 'Montserrat', sans-serif;
}

.ms-4.me-4 {
    margin-top: 1rem;
}
