:root {
  --bs-tertiary: #ff8800 !important;
}

section {
    padding-bottom: 3rem;
}

.hero {
    background-color: #fff;
}

.obory {
    background-color: #f2f2f4;
}

.bg-tertiary {
  background-color: var(--bs-tertiary) !important;
  color: #fff !important;
}


.btn-tertiary,
.badge.bg-tertiary,
.text-bg-tertiary,
.bg-tertiary,
.border-tertiary {
    background-color: var(--bs-tertiary) !important;
    border-color: var(--bs-tertiary) !important;
    color: #fff !important;
}

.btn-outline-tertiary {
    color: var(--bs-tertiary) !important;
    border-color: var(--bs-tertiary) !important;
    background-color: transparent !important;
}

h1 {
    font-weight: 700;
}

.navbar-brand {
    font-weight: 700;
    font-family: 'Poppins', 'Montserrat', sans-serif;
}

.ms-4.me-4 {
    margin-top: 1rem;
}

.text-muted-custom {
    color: #858585 !important; /* Bootstrap šedá */
}
